[Unit]
Description=Servicio de Sensores
After=syslog.target network.target postgresql.service
Requires=postgresql.service

[Service]
ExecStart=bin/unlocker.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target

